@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />

<PageTitle>The Grammar</PageTitle>

<MudThemeProvider IsDarkMode="true" />

<div class="page">
    <div class="main">
        <MudLayout>
            <MudAppBar Elevation="4">
                <MudToolBar DisableGutters="true">
                    <img src="/logo.svg" alt="The Grammar" style="height: 60px; margin-left: 8px;" />
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" class="ml-2" />
                </MudToolBar>
            </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
                <NavMenu />
            </MudDrawer>

            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.False" Class="mt-4" Style="padding-left: 30px; padding-right: 30px; padding-top: 15px;">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </div>
</div>
