@inherits LayoutComponentBase

<PageTitle>The Grammar</PageTitle>

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="main">
        <MudLayout>
            <MudAppBar Elevation="4">
                <MudToolBar DisableGutters="true">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                    <MudText Typo="Typo.h6" Class="ml-4">The Grammar</MudText>
                </MudToolBar>
            </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
                <NavMenu />
            </MudDrawer>

            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.False" Class="mt-4" Style="padding-left: 30px; padding-right: 30px; padding-top: 15px;">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </div>
</div>
