@inherits LayoutComponentBase

<MudThemeProvider Theme="_theme" IsDarkMode="true" />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />

<PageTitle>The Grammar</PageTitle>

<div class="page">
    <div class="main">
        <MudLayout Style="--mud-drawer-width-left: 72px;">
            <MudAppBar Elevation="4" DisableGutters="true" ToolBarClass="pl-4">
                <img src="/logo.svg" alt="The Grammar" style="height: 60px;" />
            </MudAppBar>

            <MudDrawer Open="true" Variant="DrawerVariant.Persistent" Elevation="25" ClipMode="DrawerClipMode.Always" Style="width: 72px; overflow: hidden;">
                <NavMenu />
            </MudDrawer>

            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.False" Class="mt-4" Style="padding-left: 30px; padding-right: 30px; padding-top: 15px;">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </div>
</div>
