<nav class="icon-nav">
    <MudTooltip Text="Dashboard" Placement="Placement.Right">
        <NavLink href="/" Match="NavLinkMatch.All" class="nav-icon-link">
            <MudIcon Icon="@Icons.Material.Filled.Dashboard" />
        </NavLink>
    </MudTooltip>
    <MudTooltip Text="Prompts" Placement="Placement.Right">
        <NavLink href="/prompts" Match="NavLinkMatch.All" class="nav-icon-link">
            <MudIcon Icon="@Icons.Material.Filled.TextFields" />
        </NavLink>
    </MudTooltip>
    <MudTooltip Text="Settings" Placement="Placement.Right">
        <NavLink href="/settings" Match="NavLinkMatch.All" class="nav-icon-link">
            <MudIcon Icon="@Icons.Material.Filled.Settings" />
        </NavLink>
    </MudTooltip>
    <MudTooltip Text="Logging" Placement="Placement.Right">
        <NavLink href="/logging" Match="NavLinkMatch.All" class="nav-icon-link">
            <MudIcon Icon="@Icons.Material.Filled.List" />
        </NavLink>
    </MudTooltip>
</nav>