<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheGrammar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheGrammar.Properties.Settings>
            <setting name="Prompt" serializeAs="String">
                <value>Bitte korrigiere alle grammatikalischen Fehler im folgenden Text, wobei der Stil, die Struktur und die Logik der Sätze unverändert bleiben sollen. Behalte auch die Originalsprache des Textes bei. Es ist wichtig, dass die Änderungen subtil sind und der Text natürlich erscheint, als wäre er anfänglich ohne Fehler geschrieben worden. Schreibe nur die korrigierte Antwort ohne zusätzliche Informationen. Konzentriere dich nur auf den Text und benutze keinen anderen Kontext. Text ist: </value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
        </TheGrammar.Properties.Settings>
    </userSettings>
</configuration>